@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #E01F26; 
$secondary: #010B40; 
$dark: #031059;
$gray-700: #555972; 
$danger: #B7161C;


$theme-colors: (
"primary": $primary,
"secondary": $secondary,
"dark": $dark,
"danger": $danger,
"muted": $gray-700
);


$font-family-sans-serif: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, sans-serif;
$headings-font-family: 'Bebas Neue', 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, sans-serif;
$bebas-neue: 'Bebas Neue', cursive;
$headings-font-weight: 700;
$body-font-weight: 400;
$font-size-base: 1rem;

$body-color: $dark;
$headings-color: $secondary;
$body-bg: #ffffff;


@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';